---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nosotros">
  <section class="intro-single" style="margin-top: -90px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Nosotros</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                About
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="section-about">
    <div class="container">
      <div class="product-item-description d-flex ml-auto foo" style="margin-bottom: 50px; max-width: 300rem;">
        <p>
          DARquitecsa ofrece al mercado servicios de ingeniería, construcción y servicios en general,
          especializados en servicios en diseño de interiores, exteriores y desarrollos inmobiliarios.
          Asimismo, brindamos servicios especializados en el modelado de proyectos de Infraestructura
          Civil bajo la aplicación de la metodología BIM. <br><br>
          DARquitecsa, con más de 10 años en el mercado, ha completado de manera exitosa varios de
          los proyectos más importantes de la región norte del Perú y a nivel nacional, tanto en el sector
          privado como en el sector público. Todo ello ha sido posible gracias a la sólida cultura
          empresarial de DARquitecsa, la cual considera a su gente como su principal activo
          organizacional. Posee un equipo altamente competente y especializado, conformado por
          arquitectos especializados en: diseños públicos y privados, urbanismo y en seguridad (INDECI)
          además contamos con ingenieros: civiles, eléctricos, sanitarios, electromecánicos y electrónicos
          que comparten los valores corporativos de la empresa.
        </p>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="about-img-box foo">
            <img src="/img/banner.jpeg" alt="Banner DARquitecsa" class="img-fluid" />
          </div>
          <div class="sinse-box foo" style="background-color: rgba(52,6,89,.3);">
            <h3 class="sinse-title" style="color: aliceblue;">
              <span>Empresa Peruana</span>
              <br>
            </h3>
            <p style="color:#E20F43;">Especialistas en Proyectos & Construcciones</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-bottom: -10px;">
          <div class="foo col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Nosotros</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="foo product-item-description d-flex ml-auto">
        Aplicamos la metodología BIM para hacer diseños integrados con todas las disciplinas
        involucradas en el proyecto, minimizando las interferencias y aumentando la productividad de
        la construcción.
      </div>
    </div>
  </section>
  <section class="property-single nav-arrow-b" style="margin-top: 70px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row justify-content-between">
            <div class="foo col-md-5 col-lg-4">
              <img src="/img/gerente.jpeg" height="500px" class="title-c" alt="Darío Alvitez" />

              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4" style="margin-bottom: -10px;">
                      <h3 class="title-d">Gerencia</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list foo">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      <strong>Darío Alvites Ramírez</strong>
                    </li>
                    <i>Gerente General de DARquitecsa</i><br>
                    <li class="d-flex justify-content-between" style="margin-top: 20px;">
                      <span>Arquitecto titulado por la Universidad Nacional Pedro Ruiz Gallo, con Maestría en Gerencia de
                        la Construcción Moderna de la Universidad Nacional Federico Villareal y Maestría en Gestión
                        Publica de la Universidad Cesar Vallejo. Desde octubre de 2012 es gerente general de
                        DARquitecsa y posee más de 16 años de experiencia nacional en gerencia de proyectos,
                        elaboración, planificación y control de proyectos de construcción, administración de contratos
                        y construcción de proyectos de edificaciones públicos y privadas, entre otros.</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="col-md-7 col-lg-7 section-md-t3 foo">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d" style="margin-bottom: -10px;">
                    <h3 class="title-d">Misión</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a">
                  Somos una empresa de ingeniería, construcción, gerencia de proyectos y desarrollos
                  inmobiliarios; que, basada en personas con valores y conocimientos, tiene la misión de:
                </p>
                <ul>
                  <li>Contribuir al éxito de nuestros clientes, desarrollando sus proyectos con calidad, seguridad, y dentro del plazo y presupuesto previstos.</li>
                  <li>Mantener un clima empresarial abierto y de confianza que fomente la innovación y la mejora continua.</li>
                  <li>Integrar a socios y proveedores estratégicos para formar equipos de alto desempeño. Proveer un lugar de trabajo seguro y saludable, respetuoso del ambiente natural y de las comunidades que nos rodean.</li>
                  <li>Generar utilidades para mantener la solidez financiera, impulsar el crecimiento y retribuir adecuadamente a nuestros accionistas.</li>
                </ul>
              </div>
              <br><br>
              
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d" style="margin-bottom: -10px;">
                    <h3 class="title-d">Visión</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a">
                  Ser la empresa de ingeniería y construcción, sólida, innovadora y de clase nacional e
                  internacional, reconocida como la mejor en los proyectos privados y públicos, mercados y
                  emprendimientos donde participemos.
                </p>
              </div>
              <br><br>

              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d" style="margin-bottom: -10px;">
                    <h3 class="title-d">Nuestra Gente</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a">
                  DARquitecsa es consciente que el éxito de los proyectos que desarrolla descansa en su capital
          humano, el cual está integrado por personas alegres, competentes y comprometidas, que
          trabajan formando equipos de alto desempeño, dispuestas a resolver las necesidades de sus
          clientes con entrega, profesionalismo y con un gran sentido ético. <br><br>
          La solidez técnica de su gente está en un proceso de mejoramiento continuo al estar
          permanentemente en contacto con proyectos de envergadura, los cuales son ejecutados a nivel
          nacional. El equipo técnico de DARquitecsa tiene la reputación de cumplir y exceder las expectativas, aun
          en las condiciones más adversas.
                </p>
              </div>
              
              <!-- <div class="foo row section-t3">
                <div class="col-sm-12">
                  <div class="title-box-d" style="margin-bottom: -10px;">
                    <h3 class="title-d">Valores</h3>
                  </div>
                </div>
              </div>
              <div class="amenities-list color-text-a">
                <ul class="list-a no-margin" style="margin-top: 10px;">
                  <licl><strong>Integridad:</strong> Coherencia entre la palabra y la acción en un sentido de rectitud, probidad y respeto.</li>
                  <li><strong>Liderazgo:</strong> Capacidad de crear un clima que oriente el esfuerzo de los grupos humanos en una dirección deseada, promoviendo una visión compartida, estructurándolos, dirigiéndolos, generando oportunidades de crecimiento, inspirando valores de acción y anticipando escenarios de desarrollo.</li>
                  <li><strong>Espíritu de equipo:</strong> Colaborar, cooperar y conjugar esfuerzos con un grupo de personas a fin de alcanzar objetivos comunes, enriqueciendo la experiencia propia con la de otros miembros del grupo, y produciendo un resultado mayor que la suma de los esfuerzos individuales.</li>
                  <li><strong>Innovación:</strong> Disposición de modificar las formas existentes de hacer las cosas asumiendo con responsabilidad el riesgo de llevarlas a la práctica, buscando optimizar la eficiencia de los procesos y la eficacia de los resultados.</li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="title-box-d section-t4" style="margin-bottom: -10px;">
        <h3 class="title-d">Nuestra Gente</h3>
      </div>

      <div class="summary-list">
        <p> 
          DARquitecsa es consciente que el éxito de los proyectos que desarrolla descansa en su capital
          humano, el cual está integrado por personas alegres, competentes y comprometidas, que
          trabajan formando equipos de alto desempeño, dispuestas a resolver las necesidades de sus
          clientes con entrega, profesionalismo y con un gran sentido ético. <br><br>
          La solidez técnica de su gente está en un proceso de mejoramiento continuo al estar
          permanentemente en contacto con proyectos de envergadura, los cuales son ejecutados a nivel
          nacional. El equipo técnico de DARquitecsa tiene la reputación de cumplir y exceder las expectativas, aun
          en las condiciones más adversas.
        </p>
      </div> -->
    </div>
  </section>
</Layout>